*{
    margin: 0;
    padding:0;
}

/* ================== HEADER =================== */
li{
    list-style: none;
    text-decoration:none;
}

header{
    display: flex;
    min-height: 70px;
    background: #FFECEF;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    padding-right: 10px;
}
nav a{ font-weight: 600;
    padding: 20px;
    margin: 0px 10px 0px 10px;
}
nav a:hover{
    background-color: #251B37;
    color: #FFFFFF;}
@media (max-width:700px){
    header{ flex-direction: column}
    nav{padding: 10px 0px;}}

 /* =================== MAIN ====================== */

.cardsh{
         width: 60%;
    display: grid;
         border-style: solid;
    border-radius: 5px;
    border-width: 1px;
         border-color: #251B37;
         background-color: #FFCACA;
    margin-left: 20%;
    margin-top: 50px;
}

.sectionCards{
         display: grid;
    grid-template-columns: 1fr 1fr;
    column-width: 100%;
}

.un_Item{
    display: grid;
    grid-area: "title";
    text-align: center;
    padding-top: 5px;
}
.dos_Item{
    display: grid;
    grid-area: "texto";
    text-align:center;
    margin-top: 15px;
}

.tres_Item{ display: grid;
   grid-area: "gif";
    padding-left: 40px;
    align-content: center;
    width: 170px;
    padding-bottom: 5px;
}

.cuatro_Item{ display: grid;
    grid-area: "boton";
    align-content: flex-start;
    vertical-align: top;
    padding: 0px 25px 0px 25px;
}


.elvideo{ width: 400px;
    display: block;
    margin-left: 19rem;
    padding-top: 5rem;
    padding-bottom: 0rem;
}
/*CAROUSEL EN BOOTSTRAP*/ 

.card{background-color: #FFCACA;
      border: 1px solid #251B37;
    display: inline-grid;
    margin: 1rem 0.5rem 1rem 1rem;
    padding: 1rem 0.5rem 1rem 1rem;
    grid-template-columns: 33% 33% 33%;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%)}
/* ===================================== FOOTER ====================================== */
.container{
    width: 100%;
    display: flex;
    max-width: 1100px; 
    margin-top: 100px;
    flex-wrap: wrap;
}
.cards{
    width: 100%;
    margin: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.cards:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%)}
.cards img{
    width: 50%;
    height: 360px;
    padding: 10px 0px 10px 10px;
    margin-left: 220px;}
.cards .contenido{
    padding: 15px;
    text-align: center;}
.cards .contenido p{
    line-height: 1.5;
    color: #6A6A6A}
.cards .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;}
.cards .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2FB4CC;
    border: 1px solid #2FB4CC;
    border-radius: 4px;
    transition: all 400ms ease;
    background: #FFFFFF;
}
.cards .contenido a{
    background: #2FB4CC;
    color: #FFFFFF;}

.piluxx{display: block;
      width: 100%}
.piluxcomi{
    width: 400px;
    border-radius: 20%;
    align-content: center;
    text-align: center;
    justify-content: center;
padding-left: 28%}
.piluxx h2{
    font-weight: 400;
    color: #FFCACA;
    background: #251B37;
    align-content: center;
    margin: 0% 29.5% 0% 27.5%;
}
.price{display: block;
      width: 100%;
   align-content: center;
   margin: 30px 0px;}
.priceinf{ width: 350px;
    padding-left: 30%;
 align-content: center;
    text-align: center;
    justify-content: center;
    margin: 10px 0px;
}
.priceinf h6{
    width: 400%;
    font-weight: 100;
    color: #FFCACA;
    background: #251B37;
    padding: 2px 30px 2px 40px;
    margin: 2px 30% 0px 80px;
    justify-content: center;
}
.priceinf p{
    width: 400%;
    font-weight: 100;
    background: #FFCACA;
    padding: 2px 30px 2px 40px;
    margin: 2px 30% 0px 80px;
    justify-content: center;
}
.service{
    width: 100%;
    display: flex;
    max-width: 1100px; 
    margin-top: 100px;
}

.terminos{
    width: 100%;
    margin: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    padding: 3px 10px 3px 10px;
}
.terminos h4{
    width: 400%;
    font-weight: 400;
    color: #FFCACA;
    background: #251B37;
    padding: 2px 30px 2px 40px;
    margin: 2px 30% 0px 60px;
    justify-content: center;
}

.gifinfo{
    width: 100px;
    margin-left: 28rem;
}
.procesoo{
    width: 100%;
    display: flex;
    max-width: 1100px; 
    margin-top: 5px;
    
}
.proceso{
    width: 100%;
    margin: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    padding: 3px 10px 3px 10px;
}
.proceso h4{
    width: 400%;
    font-weight: 400;
    color: #FFCACA;
    background: #251B37;
    padding: 2px 30px 2px 40px;
    margin: 2px 30% 0px 60px;
    justify-content: center;
}
.order{
    display: inline;
      width: 100%;
   align-content: center;
    margin-left:17%;
    padding: 10px;
    justify-content: center;}
.order a{
    width: 90px;
    font-weight: 100;
    background:#FFCACA;
    color: #251B37;
    padding: 2px 20px 2px 20px;
    margin: 0px 10px 0px 50px;
    justify-content: center;   }
/*====================================== FORMULARIO=============================*/
.form-contact {
    background-color: #FFFFFF;
    width: 500px;
    top: 50%;
    left: 50%;
    box-shadow: 7px 10px 30px rgba(0, 0, 0, 0.6);
    margin: 50px 0px 50px 0px;
}

.mainn{
    width: 100%;
  background-color: #FCACAF;
  overflow: hidden;
    color: #FCBCFF;
    padding-left: 25%;
   }

.mainn h5{
    color: #251B37;
    text-align: center;
    margin: 3px;
    padding-top: 3px;
    font-weight: 600;
}
.contact{
    padding: 0.8rem;
    overflow: hidden;
    color: #251B37;}

.contact label, .contact input, .contact textarea, .contact select .contact option {
    display: block;
    width: 100%;
    margin-bottom: 8px;}

.contact label{
    font-weight: 700;}
.contact input:not([type="submit"]), .contact textarea {
    border: none;
    border-bottom: 2px solid #FCACAF;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: #251B37;
}
.contact textarea {
    min-height: 100px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #FCACAF;
    color: #ffffff; 20px;
    font-size: 20px;
    cursor: pointer;
}

/*====================================== EXTRA=============================*/
.Titulo {
    text-align: center;
    background: #FFFFFF;
}

.containerextra{
    width: 100%;
    display: flex;
    max-width: 1100px; 
    margin-top: 100px;
}
.cardsextra{
    width: 100%;
    margin: 30px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.cardsextra:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%)}
.cardsextra img{
    width: 95%;
    height: 250px;
    padding: 10px 0px 10px 10px;}
.cardsextra .contenidoextra{
    padding: 15px;
    text-align: center;}
.cardsextra .contenidoextra p{
    line-height: 1.5;
    color: #6A6A6A}
.cardsextra .contenidoextra h3{
    font-weight: 400;
    margin-bottom: 15px;}
.cardsextra .contenidoextra a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2FB4CC;
    border: 1px solid #2FB4CC;
    border-radius: 4px;
    transition: all 400ms ease;
    background: #FFFFFF;
}
.cardsextra .contenidoextra a{
    background: #2FB4CC;
    color: #FFFFFF;}

.containerextra_skz{
    width: 50%;
    display: flex;
    max-width: 1100px; 
    margin-top: 100px;
    margin-left: 25%}

.textito{
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

/* ===================================== FOOTER ====================================== */
.footer{
    width: 100%;
    background: #FFCACA;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
    column-gap: 15px;
}

.footerCosas{
    display:block;
    justify-content:flex-start;
    column-gap: 20px;
    margin-bottom: 5px;
}


.boton_Enviar{ margin: 7px 3px 0px 1.5px;
    border-style: none;
    color: #251B37;
}

.footerCosas__Log{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.footerCosas__Log .footer_Log {
    display: flex;
    justify-content: space-evenly;
    width: 60px;
    padding: 2px 2px 0px 2px;
}
.footerCosas__Log .footer_LogT {
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    padding: 3px 2px 0px 2px;
}
.footerCosas__Log .footer_LogY {
    display: flex;
    justify-content: space-evenly;
    width: 70px;
    padding: 0px 2px 5px 2px;
    vertical-align: top;
}

footer img{width: 30px;
    margin: 3px;
}
a{
    font-family: 'Noto Serif', serif;
    color: #251B37;
    text-decoration: none;
}


button{
       background-color: #FEECEF;
         border-style: solid;
         border-color: #251B37;
         border-width: 1px;
    padding-right: 3px;
}

body{background-color: #FFECEF;
    font-family: 'Noto Serif', serif;
}
